{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">

{% endblock %}

{% block body %}
    <section id="cover" class="cover">
        <div class="cover-inner">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-7">
                        <div class="register">
                            <h3>Créer un compte</h3>
                            <div class="register-inner">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-dark">Connexion</button>
                                {{ form_end(form) }}
                            </div>
                            <p><a href="{{ path('security_login') }}" class="btn btn-light">Vous avez déjà un compte ?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}