{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/trick.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/trick-edit.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/app.js') }}"></script>
    <script src="{{ asset('/js/trick-edit.js') }}"></script>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('form/_delete_trick_confirmation.html.twig') }}
{% endblock %}

{% block body %}
    <section id="cover" class="cover">
    </section>



    <section class="trick-content mb-5 pt-5">
        <div class="container">
            <div class="trick pb-4 px-2">
                {{ include('form/_edit_trick_form.html.twig') }}
                <div class="well" id="edit-form">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
